html, body {
  margin: 0;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  height: 100vh;
}

.grid-child {
  border: 2px solid blue;
  border-radius: 0.5rem;
  margin: 1rem;
}

.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
}

.data-block {
  padding: 2em;
  overflow-wrap: break-word;
}

.wrap {
  overflow-wrap: break-word;
}

.flex-column {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  height: 100%;
  top: 50%;
  justify-content: center;
}

.data-row {
  text-align: left;
}
